<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - cool_space_facts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cool_space_facts.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 fixed-top">
            <div class="container-fluid nav-top">

                <!-- Earth Image -->
                <div class="js-earth-image">
                    <img id="nav-earth-image" src="/earth-day.png" />
                </div>

                <!-- Hamburger Menu -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Top Navbar -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Size">Size</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Distance">Distance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Temperature">Temperature</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Speed">Speed</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Side Navbar and Body -->

    <div id="nav-side" class="nav-side-width">
        <p>Local Time</p>
        <p class="js-sidenav-time"></p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <div class="row justify-content-around">
            <div class="nav-side-content col">
                <ul>
                    <li>Satelittes</li>
                    <li>The Moon</li>
                    <li>Venus</li>
                    <li>Mercurcy</li>
                    <li>The Sun</li>
                    <li>Mars</li>
                    <li>Asteroid Belt</li>
                    <li>Satelittes</li>
                    <li>The Moon</li>
                    <li>Venus</li>
                    <li>Mercurcy</li>
                    <li>The Sun</li>
                    <li>Mars</li>
                    <li>Asteroid Belt</li>
                    <li>Satelittes</li>
                    <li>The Moon</li>
                    <li>Venus</li>
                    <li>Mercurcy</li>
                    <li>The Sun</li>
                    <li>Mars</li>
                    <li>Asteroid Belt</li>
                    <li>Satelittes</li>
                    <li>The Moon</li>
                    <li>Venus</li>
                    <li>Mercurcy</li>
                    <li>The Sun</li>
                    <li>Mars</li>
                    <li>Asteroid Belt</li>
                </ul>
            </div>
        </div>

        <a id="nav-side-attributions" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Attributions">Sources</a>

        <a href="#"><img id="nav-side-logo" src="/coollogo2.png" /></a>
    </div>

    <div class="nav-side-width">test</div>

    <div id="shared-layout-body" class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->

    <footer class="border-top footer text-muted">
        <div id="footer-main" class="container">
            &copy; 2023 - cool_space_facts - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script>
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
