@{
    ViewData["Title"] = "Distance";
}


<div class="view-body">

</div>

<script>
    const navbarSelect = document.querySelector('.js-nav-link-distance');
    navbarSelect.classList.add('nav-link-current');
</script>