@{
    ViewData["Title"] = "Speed";
}


<div class="view-body">
    <div class="compare-intro">
        <h1 class="compare-intro-speed">The Speed of the Universe</h1>
        <p>From planetary days so slow you could outwalk them, to the cosmic speed limit. This page explores the fastest objects in the universe.</p>
    </div>
    <div class="js-speed-body"></div>
</div>

<script type="module" src="/js/speed.js"></script>