@{
    ViewData["Title"] = "Temperature";
}


<div class="view-body">
    <div class="compare-intro">
        <h1 class="compare-intro-temperature">The Heat of the Universe</h1>
        <p>From the coldest reaches of deep space to the cores of the brightest stars, with some familiar places in between. This page explores the temperature extremes of the universe.</p>
    </div>
    <div class="js-temperature-body"></div>
</div>

<script type="module" src="/js/temperature.js"></script>