@{
    ViewData["Title"] = "Attributions";
}

<div class="view-body">

    <div class="container-fluid row-buffer row justify-content-around attributions-disclaimer">
        <div class="col-12 card-disclaimer">
            <h2>Disclaimer</h2>
            <p>The information used on this website might not be accurate. Most data was sourced quickly and is really just there to fill out the website.</p>
            <p>This website was created by Sean Cruickshank as part of my web design portfolio and is not intended for live use, but as a way to showcase and improve my web design skills</p>
        </div>
    </div>
    

    <div class="row container-fluid attributions-intro">
        <div class="col-sm-6 col-12 attribution-radio-select">
            <h3>Sort by:</h3>
            <div class="row">
                <div class="col-6">
                    <label class="attribution-radio">
                        <input id="radio-name" type="radio" name="search-filter" value="name" checked="checked" />
                        Name
                    </label>
                </div>
                <div class="col-6">
                    <label class="attribution-radio">
                        <input id="radio-page" type="radio" name="search-filter" value="page" />
                        Page
                    </label>
                </div>
                <div class="col-6">
                    <label class="attribution-radio">
                        <input id="radio-source" type="radio" name="search-filter" value="source" />
                        Source
                    </label>
                </div>
                <div class="col-6">
                    <label class="attribution-radio">
                        <input id="radio-licence" type="radio" name="search-filter" value="licence" />
                        Licence
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12 attribution-searchbar">
            <h3>Search:</h3>
            <input type="text" id="myInput" placeholder="Search">
        </div>
    </div>
    <div class="attributions-table">
        <table id="attributionsTable" class="attributionsTable">

        </table>
    </div>
    
</div>

<script type="module" src="~/js/attributions.js" asp-append-version="true"></script>