@{
    ViewData["Title"] = "Attributions";
}

<div class="view-body">

    <div class="container-fluid row-buffer row justify-content-around attributions-disclaimer">
        <div class="col-12 card-disclaimer">
            <h2>Sources</h2>
            <p>Some images have been cropped to fit the ideal resolution for the website. Cropped images have been marked in the source column below</p>
            <p>This website was created by Sean Cruickshank as part of my web design portfolio and is not intended for live use, but as a way to showcase and improve my web design skills</p>
        </div>
    </div>
    

    <div class="row container-fluid attributions-intro">
        <div class="col-6 attribution-radio-select">
            <h3>Sort by</h3>
            <label class="attribution-radio">
                <input id="radio-name" type="radio" name="search-filter" value="name" checked="checked" />
                Name
            </label>
            <label class="attribution-radio">
                <input id="radio-page" type="radio" name="search-filter" value="page" />
                Page
            </label>
            <label class="attribution-radio">
                <input id="radio-source" type="radio" name="search-filter" value="source" />
                Source
            </label>
        </div>
        <div class="col-6 attribution-searchbar">
            <input type="text" id="myInput" placeholder="Search">
        </div>
    </div>
    <div class="attributions-table">
        <table id="attributionsTable" class="attributionsTable">
            <tr>
                <th>Name:</th>
                <th>Page:</th>
                <th>Source:</th>
            </tr>
        </table>
    </div>
    
</div>

<script type="module" src="~/js/attributions.js" asp-append-version="true"></script>