/* Cards */

.compare-card {
    padding-top: 100px;
    height: 1000px;
    text-align: center;
}

    .compare-card h2 {
        color: white;
        font-family: 'OCR A';
        font-size:3rem;
    }

.card-image {
    width: 80%;
}

.card-image-caption {
    font-style: italic;
    margin-top: 10px;
}

.card-count {
    color: white;
    font-size: 4rem;
    font-family: 'OCR A';
}

.card-title-container {
    padding: 20px;
    margin:20px;
    align-items: center;
    justify-content: center;
}

.card-title {
    color: white;
    font-family: 'OCR A';
    font-size: 4rem;
    margin: 0;
    -webkit-text-stroke: 2px black;
}

.card-diameter, .card-distance, .card-temperature, .card-speed {
    color: darkgoldenrod;
    font-style: italic;
    margin: 0;
    font-size: 1.5rem;
}

.card-fact-container {
    border-radius: 50px;
    background-color: rgba(0,0,0,0.6);
    border: 3px solid #111;
}

.card-fact {
    color: white;
    font-size: 1.5rem;
    margin-top: 30px;
}

/* Size */

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {
}

/* @media screen size - Large+ */
@media only screen and (min-width: 992px) {
}

/* @media screen size - Large */
@media only screen and (min-width: 1120px) and (max-width: 1199.999px) {
}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {
}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {

}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {

}
