.home-intro {
    margin-bottom: 150px;
}

.home-intro, .home-body {
    text-align: center;
}

    .home-intro .header-a {
        margin-bottom: 50px;
        position: relative;
        z-index: 10;
        -webkit-text-stroke: 3px black;
        
    }

    .home-intro .header-b {
        position: relative;
        z-index: 10;
        -webkit-text-stroke: 2px black;
    }

    .home-intro img {
        width: calc(100% - 150px);
        position: absolute;
        left: 150px;
        z-index: 1;
    }

.home-bg-large {
    display: none;
}

.home-bg-medium {
    display: none;
}

.home-card {
    margin-bottom: 80px;
    background-color: rgba(0,0,0,0.6);
    border: 3px solid #111;
    border-radius: 10px;
}

    .home-card a {
        text-decoration: none;
    }

        .home-card a div {
            padding: 10px;
            min-height: 300px;
        }

    .home-card h2 {
        color: darkgoldenrod;
    }

    .home-card p, .home-card-disclaimer p {
        font-size: 1.5rem;
    }

.home-card-not-select {
    padding: 10px;
    min-height: 400px;
}

.home-card-select:hover {
    border: 3px solid white;
    background-color: rgba(0,0,0,1);
}

.home-card-image {
    width: 300px;
    border: 2px solid white;
    margin: 20px;
}

.home-card-disclaimer {
    width: 80%;
    padding: 10px;
    margin-bottom: 80px;
    background-color: rgba(50,0,0,0.6);
    min-height: 200px;
    border: 3px solid #400;
    border-radius: 10px;
}

    .home-card h2, .home-card-disclaimer h2 {
        margin-bottom: 30px;
        font-family: 'OCR A';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3.5rem;
    }

    .home-card-disclaimer h2 {
        color: lightcoral;
    }

    .home-card-disclaimer p {
        color: lightcoral;
    }

    .attribution-radio-select {
        text-align: center;
        background-color: green;
    }

    .attribution-searchbar {
        justify-content: right;
        background-color: red;
    }

    .attributions-table {
        background-color: blue;
        padding: 6px;
    }

    .attributions-intro {
        background-color:orange;
        margin: 0;
        padding: 4px;
    }

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat;
    width: 80%;
    font-size: 16px;
    padding: 4px 20px 3px 10px;
    border: 1px solid #ddd;
    margin: 10px;
}

#attributionsTable {
    color: white;
}

    #attributionsTable th {
        width: 30%;
    }

.attribution-radio {
    color: white;
}
       

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1200px) {

    .home-bg-large {
        display: block;
    }

    .home-intro {
        margin-left: 125px;
        margin-right: 125px;
    }
}

/* @media screen size - Large+ */
@media only screen and (min-width: 992px) {
    
}

/* @media screen size - Large */
@media only screen and (min-width: 992px) and (max-width: 1199.999px) {

    .home-intro {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .home-intro .header-a {
        margin-bottom: 40px;
    }
    
    .home-bg-large {
        display: block;
    }
    
    .home-card-image {
        width: 250px;
    }

    .home-card h2, .home-card-disclaimer h2 {
        font-size: 3rem;
    }
}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {

    .home-intro {
        margin-bottom: 170px;
    }

    .home-bg-medium {
        display: block;
    }

    .home-card {
        width: 80%;
    }

    .home-card-image {
        width: 350px;
    }

    .home-card p, .home-card-disclaimer p {
        font-size: 1.4rem;
    }

    .home-card h2, .home-card-disclaimer h2 {
        font-size: 3.5rem;
    }
}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {

    .home-intro {
        margin-bottom: 230px;
    }
    
    .home-intro img {
        left: 130px;
        width: calc(100% - 130px);
    }

    .home-bg-medium {
        display: block;
    }

    .home-card {
        width: 80%;
    }

    .home-card-image {
        width: 250px;
    }

    .home-card p, .home-card-disclaimer p {
        font-size: 1.2rem;
    }

    .home-card h2, .home-card-disclaimer h2 {
        font-size: 2.7rem;
    }
}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {

    .home-intro {
        margin-bottom: 140px;
    }
    
        .home-intro img {
            left: 130px;
            width: calc(100% - 130px);
        }

        .home-intro .header-a {
            margin-bottom: 20px;
        }

    .home-bg-medium {
        display: block;
    }

    .home-card {
        width: 80%;
    }

    .home-card-image {
        width: 140px;
    }

    .home-card p, .home-card-disclaimer p {
        font-size: 1rem;
    }

    .home-card h2, .home-card-disclaimer h2 {
        font-size: 2.2rem;
    }

    .home-card a div {
        padding: 4px;
        min-height: 300px;
    }
}
