html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

body {
    min-height: 100%;
}

.link-a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
}

    .link-a:hover {
        color: darkgoldenrod;
    }

/* Shared Layout */

#shared-layout-body {
    background-color: blue;
    min-height: 500px;
    padding: 30px;
    margin: 0px;
    margin-top: 50px;
    width: calc(100% - 150px);
    float: left;
}

.view-body {
    background-color: green;
    min-height: 800px;
}

/* Footer */

.footer {
    display: flex;
    width: calc(100% - 150px);
    margin-left: 150px;
    background-color: black;
}

.footer-top {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.footer-top a {
    padding:15px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-logo {
    height: 45px;
}

.footer-link {
    text-transform: uppercase;
    color: black;
    background-color: darkgoldenrod;
    border-radius: 5px;
}

.footer-sublink {
    text-decoration: none;
    text-transform: uppercase;
    color: dimgrey;
}

    .footer-link:hover, .footer-sublink:hover {
        color: white;
    }

/* @media screen size - Extra Large+ */
@media only screen and (min-width: 1120px) {

}

/* @media screen size - Large+ */
@media only screen and (min-width: 992px) {

}

/* @media screen size - Large */
@media only screen and (min-width: 1120px) and (max-width: 1199.999px) {

}

/* @media screen size - Medium */
@media only screen and (min-width: 768px) and (max-width: 991.999px) {

}

/* @media screen size - Small */
@media only screen and (min-width: 576px) and (max-width: 767.999px) {
    #shared-layout-body {
        width: calc(100% - 130px);
    }

    .footer {
        width: calc(100% - 130px);
        margin-left: 130px;
    }
}

/* @media screen size - Extra Small */
@media only screen and (max-width: 575.999px) {

    #shared-layout-body {
        width: calc(100% - 130px);
    }

    /* Footer */

    .footer {
        width: calc(100% - 130px);
        margin-left: 130px;
    }

    .footer-top {
        font-size: 0.6rem;
    }

        .footer-top a {
            padding: 10px;
        }

    .footer-logo {
        height: 35px;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }
}


